*~
*.[oa]
#*#
machines/iter/cputime_dinaimas
machines/iter/p_data1
machines/iter/psi_data
machines/iter/plasma_start.dat
machines/iter/psi_data
machines/iter/for042
machines/iter/psi_data_imas0
machines/iter/tran_times.dat
tools/IDS_Coordinates.mat
tools/mexutilids.mod
tools/mexLoadIDS.mex*
imas/fc2k/*.xml
!imas/fc2k/*-template.xml
imas/fc2k/toto
imas/interface/test_dina
imas/interface/test_dina_to_imas
imas/kepler_wf/log*

