*~
*.[oa]
#*#
machines/iter/cputime_dinaimas
machines/iter/p_data1
machines/iter/psi_data
machines/iter/plasma_start.dat
machines/iter/psi_data
machines/iter/for042
machines/iter/psi_data_imas0
machines/iter/tran_times.dat
tools/IDS_Coordinates.mat
tools/mexutilids.mod
tools/mexLoadIDS.mex*
imas/fc2k/dinaimas21.xml
imas/fc2k/dinacontr21.xml
imas/fc2k/dinaputslice21.xml
imas/fc2k/solps_imas.xml
imas/fc2k/dinasdn21.xml
!imas/fc2k/*-template.xml
!imas/fc2k/externaltransp.xml
imas/fc2k/toto
imas/interface/test_dina
imas/interface/test_dina_to_imas
imas/interface/test_wr_prof
imas/circ/test_dina
imas/circ/test_circ
imas/jetto/JINTRAC_IDS/jetto_prof_to_ids
imas/jetto/JINTRAC_IDS/jetto_prof_from_ids
imas/kepler_wf/log*
*/temp
*.directory

